h1 {
    color: #00a2ff;
    font-size: 30px;
    text-align: center;
}

h2 {
    color: #00a2ff;
    font-size: 20px;
    text-align: center;
}
.titre1 {
    color: #ff1100;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    margin: auto;
}
.connexion {
    margin-top: 50px;
    margin: auto;
    padding: 16px;
    text-align: justify;
    width: 350px;
}
.connexion input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #00a2ff;
    display: block;

}
.Seconnecter {
    background-color: #00a2ff;
    color: rgb(9, 9, 9);
    border: 1px solid black;
    position: relative;
    margin: 20px;
    border-radius: 5px; 
    text-decoration: none;
}
.Seconnecter:hover {
    background-color: #cecccb;
}
.bouton{
    background-color: #00a2ff;
    color: #050505;
    border: none;
    padding: 10px;  
    border-radius: 5px;
    text-decoration: none;
}
.bouton:hover {
    background-color: #cecccb;
}
.paragraphe {
    text-align: center;
    margin: 50px;
    padding: 10px;
}

.container{
    display: flex;  
    gap: 20px;
    width: 300px;
    height: 100px; 
    padding: 100px; 
    margin: auto;
}