body {
    background-color: #f3f3f3;
}
h1 {
    color: #ec140c;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

h2 {
    color: #00a2ff;
    font-size: 20px;
    text-align: center;
}
section#section p {
    display: block;
    color: #000;
    text-align: center;
    padding: 30px;
    margin: auto;
    width: 400px;
    height: 50px;
}
.titre1 {
    color: #ff1100;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    margin: auto;
}
.connexion {
    margin-top: 50px;
    margin: auto;
    padding: 16px;
    text-align: justify;
    width: 500px;
    position: relative;
    left: 50px;
}
.connexion input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #00a2ff;
    display: block;

}
.btn_signup {
    background-color: #00a2ff;
    color: rgb(9, 9, 9);
    border: 1px solid black;
    position: relative;
    margin: 20px;
    border-radius: 5px; 
    text-decoration: none;
}
.btn_signup:hover {
    background-color: #cecccb;
}
nav#nav   {
 background-color: bisque;
 display: flex;
 align-items: baseline;
 width: 100%;

    
}
nav#nav div{
     padding: 1rem;
    display: flex;
    align-items: right;
    position: relative;
    margin-left: auto;
}
nav#nav div a{
    color: #1747ad;
    padding-left: 1rem;
    padding-right: 2rem;
    margin-left: auto;
}

#btn_signup:hover {
    background-color: #cecccb;
}
.paragraphe {
    text-align: center;
    margin: 50px;
    padding: 10px;
    font-weight: 700;
    position: relative;
    right: 70px;
}

.container{
    display: flex;  
    gap: 20px;
    width: 300px;
    height: 100px; 
    padding: 100px; 
    margin: auto;
}
@media screen and (max-width: 768px) {
    header {
        padding: 10px 0;
    }
    main {
        padding: 10px;
    }

    #section {
        padding: 15px;
    }

    .connexion {
        padding: 10px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    .Seconnecter {
        width: calc(100% - 20px);
    }
}
@media screen and (max-width: 480px) {
    header {
        font-size: 1.5rem;
    }

    .connexion {
        border-radius: 0;
    }
      h1 {
        font-size: 1.5rem;
    }
}